@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Averta PE";
  src: url(AvertaDemoPE-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Averta PE";
}

.container {
  //    max-width: 1440px;
  padding: 0 50px;
  margin: auto;
}

.color-black p {
  color: black !important;
}

.section-margin {
  margin: 60px 0;
}

.live-well {
  color: #1f59f8;
  margin-bottom: 10px;
}

.hr-top {
  margin-bottom: 50px;
}

.title-gold h3 {
  font-weight: 600;
  font-size: 27.34px;
  line-height: 146%;
  color: #fdee87;
  letter-spacing: 2px;
}

.title-blue h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 146%;
  color: #1f59f8;
  letter-spacing: 2px;
}

.title-sub p {
  font-weight: lighter;
  font-size: 14px;
  line-height: 150%;
  color: white;
}

.btn {
  font-weight: lighter;
  font-size: 11.2px;
  padding: 16px 40px;
  border: 1px solid white;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: white;
  letter-spacing: 3px;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;

  transition: all 0.5s;
}

.btn:hover {
  background-color: #fdee87;
  color: black;
  border: 1px solid black;
}

.nav {
  a {
    color: #1f59f8;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    font-family: "Source Code Pro", monospace;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__vl {
    border-left: 2px solid #1f59f8;
    height: 22px;
  }

  &__right,
  &__left,
  &__middle {
    margin: auto;
  }

  &__left ul {
    display: flex;
    gap: 30px;

    list-style: none;
  }

  &__left ul a {
    text-decoration: none;
  }

  &__right ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }

  &__right ul a {
    text-decoration: none;
  }

  &__circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #1f59f8;
  }

  &__ham {
    margin: auto;
    display: none;

    &-size {
      height: 20px;
      width: 20px;
    }
  }
}

.header-title h1 {
  color: #fdee87;
  font-weight: 500;
  font-size: 56px;
  line-height: 114%;
}

.header {
  &__wrap {
    background-image: url(img/Rectangle\ 74.png);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  }

  &__element {
    position: relative;
    top: 40px;
    margin: auto;
    text-align: center;
  }

  &__btn-position {
    margin-top: 40px;
  }
}

.circle {
  &__wrap {
    margin: auto;
  }

  &__double-position {
    text-align: center;
  }

  &__double {
  }
}

.sleep {
  position: relative;
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 650px;
  }

  &__logo {
    margin-right: 20px;
  }

  &__left {
    margin: 0 12px;
    background-image: url(img/Screenshot\ 2021-06-08\ at\ 13.52\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &-element {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 30px 25px;
    }

    &-title {
      margin-bottom: 26px;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-col1 {
      margin: 0 12px;
      background-image: url(img/Rectangle\ 76.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    &-col2 {
      margin: 0 12px;
      background-image: url(img/Rectangle\ 77.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  }

  &-btn {
    text-align: center;
    position: absolute;

    // bottom: 10%;
    // right: 20%;
    // left: 20%;
    left: 0;
    right: 0;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
  }
}

.black-back {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.friend {
  &__element {
    display: flex;
    height: 515px;
    font-size: 15px;
  }
  &__col {
    position: relative;
    display: flex;
    flex: 2;
    padding: 10px;
  }
  &__col:nth-of-type(even) {
    flex: 1;
  }

  &__col:nth-of-type(odd) {
    background-image: url(img/Rectangle\ 86.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  &__col:nth-of-type(even) {
    background-color: #1f59f8;
    background-image: url(img/Group\ 467.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: green;
  }

  &__center {
    position: relative;
    margin: auto;
    text-align: center;
  }

  &-btn {
    // position: absolute;
    // margin-top: 146px;
  }
}

.feature {
  &__wrap {
    background-color: #e9e9e9;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    &-arr img:first-child {
      transform: rotate(-180deg);
      opacity: 0.5;
    }
  }

  &__mid {
    height: 40px;
    background-color: rgba(253, 238, 135, 0.4);
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item-imgArea {
    max-width: 350px;
    width: 100%;
  }

  &__item-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__desc {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: 11px;
    margin-top: 5px;
  }
}

.japan {
  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    p {
      font-size: 12px;
    }
  }

  &__left {
    display: flex;
    position: relative;
    background-color: #e9e9e9;
    height: 216px;

    p {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__left-top {
    text-align: center;
    position: relative;
    top: 30px;
  }

  &__left-bot {
    text-align: center;
    position: relative;
    top: 94px;
  }

  &__left-text {
    width: 100%;
  }

  &__left-circle {
    position: absolute;
    display: inline-block;
    top: 20%;
  }

  &__right {
    display: flex;
    background-color: #dbcccf;
    position: relative;
    color: white;
    height: 216px;
  }

  &__right-text {
    width: 100%;
  }

  &__right-top {
    text-align: center;
    position: relative;
    top: 30px;
  }

  &__right-top h3 {
    font-weight: 400;
    color: white;
    font-size: 34px;
    line-height: 114%;
  }

  &__right-circle {
    position: absolute;
    display: inline-block;
    top: 20%;
    right: 0;
  }

  &__right-bot {
    text-align: center;
    position: relative;
    top: 80px;
  }

  &__tri {
    position: absolute;

    top: 40%;
    right: -5px;
    transform: rotate(0deg);
  }

  &__tri {
    position: absolute;

    top: 40%;
    right: -1px;
    transform: rotate(0deg);
  }

  &__tri2 {
    position: absolute;

    top: 52%;
    left: -1px;
    transform: rotate(0deg);
  }
}

.japan__left-top::before {
  content: "Japanese";
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.japan__right-top::before {
  content: "English";
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
}

.philosophy {
  &__element {
    display: flex;
    // min-height: 515px;
    font-size: 15px;
  }
  &__col {
    display: flex;
    flex: 1;
    padding: 10px;
  }
  &__col:nth-of-type(even) {
    flex: 2;
  }

  &__col:nth-of-type(even) {
    background-image: url(img/unsplash_XUn7yMZH2yg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  &__col:nth-of-type(odd) {
    // background-color: #1f59f8;
    // background-image: url(img/Group\ 467.png);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
    // color: green;
    background-color: #e9e9e9;
  }

  &__center {
    display: flex;
    padding: 40px 60px;
    flex-direction: column;
    gap: 32px;

    // position: relative;
    // margin: auto;
    // text-align: center;

    & div:nth-of-type(3) {
      margin-top: 140px;
    }
  }

  &-btn {
    // position: absolute;
    // margin-top: 146px;

    & .btn {
      background-color: #1f59f8;
      color: white;
    }
    & .btn:hover {
      background-color: transparent;
      color: black;
    }
  }

  &__sub {
    line-height: 1.5;
    font-size: 14px;
  }
}

.fff {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  gap: 160px;
  justify-content: end;
}

.japan__right-content {
  display: flex;
  flex-direction: column;

  text-align: right;
  justify-content: end;
  margin: auto;
  gap: 30px;
}

.japan__lang {
  margin: auto;
  max-width: 192px;
  width: 100%;
}

.japan__img {
  width: 100%;
  object-fit: cover;
}

.japan__left-content {
  display: flex;
  flex-direction: column;

  text-align: left;
  justify-content: end;
  margin: auto;
  gap: 30px;
}

.japan__right-content p:nth-of-type(1) {
  margin-bottom: -34px;
}

.japan__left-content p:nth-of-type(1) {
  margin-bottom: -20px;
}

.japan__longev {
  font-size: 32px;
}

.friend__btn {
}

.property {
  &__wrap {
    background-color: #e9e9e9;
    padding-top: 50px;
  }

  &__top {
    height: 24px;
    background-color: #fdee87;
  }

  &__bot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    &-col {
      padding: 20px 24px;
    }
  }

  &__title h4 {
    font-weight: 400;
    font-size: 22.5px;
    line-height: 137%;
    color: #1f59f8;
    padding: 16px 0;
  }

  &__txt {
    font-size: 14px;
    line-height: 1.5;
    color: #0f0f0f;

    & p {
      margin-bottom: 20px;
    }
  }
}

.chain {
  &__element {
    display: flex;
    height: 515px;
    font-size: 15px;
  }
  &__col {
    position: relative;
    display: flex;
    flex: 2;
    padding: 10px;
  }
  &__col:nth-of-type(even) {
    flex: 1;
  }

  &__col:nth-of-type(odd) {
    background-image: url(img/Rectangle\ 86k.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  &__col:nth-of-type(even) {
    background-color: #1f59f8;
    background-image: url(img/Group\ 467.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: green;
  }

  &__center {
    position: relative;
    margin: auto;
    text-align: center;
  }

  &-btn {
    // position: absolute;
    // margin-top: 146px;
  }
}

.bottle {
  &__wrap {
    background-color: #e9e9e9;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    &-arr img:first-child {
      transform: rotate(-180deg);
      opacity: 0.5;
    }
  }

  &__mid {
    height: 40px;
    background-color: rgba(253, 238, 135, 0.4);
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item-imgArea {
    max-width: 350px;
    width: 100%;
  }

  &__item-img {
    margin: auto;
    object-fit: cover;
    display: block;
    padding: 20px 0;
  }

  &__desc {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: 11px;
    margin-top: 5px;
  }
}

// .box {
//   &__bot {
//     display: grid;
//     grid-template-columns: repeat(18, 1fr);
//     grid-gap: 10px;
//   }

//   &__grid {
//     background-color: grey;
//     color: black;
//     padding: 7px;

//     text-align: center;

//     &:not(:nth-child(3)) {
//       grid-column: span 2;
//     }

//     &:first-child {
//       background-color: #1f59f8;
//     }

//     &:nth-of-type(3),
//     &:nth-of-type(4),
//     &:nth-of-type(7),
//     &:nth-of-type(11),
//     &:nth-of-type(16),
//     &:nth-of-type(21),
//     &:nth-of-type(22),
//     &:nth-of-type(25) {
//       background-color: #e9e9e9;
//     }

//     &:nth-child(2),
//     &:nth-child(14),
//     &:nth-child(19),
//     &:nth-child(20) {
//       background-color: #fdee87;
//     }
//   }
// }

.box {
  &__img {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    &-size {
      // height: 48px;
      // width: 32px;
    }
  }

  &__top {
    text-align: center;
    margin-bottom: 30px;
  }

  &__bot {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }

  &__bot-ele {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    text-align: center;
    &:nth-last-of-type(2) {
      // padding: 0 50px;
    }
  }

  &__grid {
    padding: 10px 40px;
    margin-top: 10px;
  }

  &__bot-ele:nth-of-type(2) {
    margin: 0 70px;
  }

  &__bot-ele:first-child {
    .box__grid:first-child {
      background-color: #1f59f8;
    }

    .box__grid:nth-of-type(2) {
      background-color: #fdee87;
    }

    .box__grid:nth-of-type(3),
    .box__grid:nth-of-type(4),
    .box__grid:nth-of-type(7) {
      background-color: #e9e9e9;
    }

    .box__grid:nth-of-type(5),
    .box__grid:nth-of-type(8) {
      background-color: #f8d5de;
    }

    .box__grid:nth-of-type(6),
    .box__grid:nth-of-type(9) {
      background-color: #dbcccf;
    }
  }

  &__bot-ele:nth-of-type(2) {
    .box__grid:nth-of-type(4) {
      background-color: #f8d5de;
    }

    .box__grid:nth-of-type(2),
    .box__grid:nth-of-type(7) {
      background-color: #e9e9e9;
    }

    .box__grid:nth-of-type(5) {
      background-color: #fdee87;
    }

    .box__grid:nth-of-type(1),
    .box__grid:nth-of-type(3),
    .box__grid:nth-of-type(6),
    .box__grid:nth-of-type(8),
    .box__grid:nth-of-type(9) {
      background-color: #dbcccf;
    }
  }

  &__bot-ele:nth-of-type(3) {
    .box__grid:nth-of-type(1),
    .box__grid:nth-of-type(2) {
      background-color: #fdee87;
    }

    .box__grid:nth-of-type(3),
    .box__grid:nth-of-type(4),
    .box__grid:nth-of-type(7) {
      background-color: #e9e9e9;
    }

    .box__grid:nth-of-type(5),
    .box__grid:nth-of-type(8) {
      background-color: #f8d5de;
    }

    .box__grid:nth-of-type(6),
    .box__grid:nth-of-type(9) {
      background-color: #dbcccf;
    }
  }
}




//Media queries//

@media only screen and (max-width: 1200px) {
  .property__bot {
    grid-template-columns: repeat(2, 1fr);
  }

  .property__bot-col {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1100px) {
  * {
    overflow-x: hidden;
  }
  .sleep__wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .sleep__left {
    height: 550px;
    margin: 20px 0;
    margin-top: 0;
  }

  .sleep__right {
    height: 550px;
  }

  .friend__element {
    flex-direction: column;
    height: 700px;
  }

  .chain__element {
    flex-direction: column;
    height: 700px;
  }

  .fff {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 42px;
    justify-content: center;
  }

  .feature__item {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 0;
  }

  .feature__item-imgArea {
    margin: auto;
  }

  .feature__item-col {
    border: 1px solid #e3dede;
  }

  .bottle__item {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 0;
  }

  .bottle__item-imgArea {
    margin: auto;
  }

  .bottle__item-col {
    border: 1px solid #e3dede;
  }

  .bottle__desc {
    padding: 40px 40px;
  }

  .philosophy__element {
    flex-direction: column-reverse;
  }

  .philosophy__col:nth-of-type(even) {
    min-height: 400px;
    margin: 0 20px;
  }

  .philosophy__center {
    gap: 16px;
    padding: 40px 30px;
  }

  .philosophy__center div:nth-of-type(3) {
    margin-top: 36px;
  }
}

@media only screen and (max-width: 1024px) {
  .nav__left {
    display: none;
  }

  .nav__right {
    display: none;
  }

  .nav__ham {
    display: block;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    top: 10px;
  }

  .nav__middle {
    margin: 0;
  }

  .nav__wrap {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .japan__wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .property__bot-col {
    padding: 0 40px;
  }

  .bottle__bot-col {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 700px) {
  .property__bot {
    grid-template-columns: repeat(1, 1fr);
  }

  .property__bot-col {
    padding: 0 80px;
  }

  .bottle__bot {
    grid-template-columns: repeat(1, 1fr);
  }

  .bottle__bot-col {
    padding: 0 80px;
  }
}

@media only screen and (max-width: 640px) {
  .sleep__right {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    gap: 30px;
  }

  .sleep__right-col1 {
    height: 500px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
  .sleep__right-col2 {
    height: 500px;
    width: 70%;
    margin: auto;
  }
}

@media only screen and (max-width: 560px) {
  .feature__item {
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 30px;
  }

  .feature__item-col {
    border: 1px solid #e3dede;
    box-shadow: 1px 3px 24px rgb(0 0 0 / 20%);
    margin: 19px 0;
    border-radius: 10px;
    width: 70%;
    margin: auto;
  }

  .feature__desc {
    padding: 40px 29px;
  }

  .feature__top {
    flex-direction: column;
    padding: 40px 35px;
    gap: 18px;
  }

  .feature__item-img {
    height: 236px;
  }

  .bottle__item {
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 30px;
  }

  .bottle__item-col {
    border: 1px solid #e3dede;
    box-shadow: 1px 3px 24px rgb(0 0 0 / 20%);
    margin: 19px 0;
    border-radius: 10px;
    width: 70%;
    margin: auto;
  }

  .bottle__desc {
    padding: 40px 29px;
  }

  .bottle__top {
    flex-direction: column;
    padding: 40px 35px;
    gap: 18px;
  }

  .bottle__item-img {
    height: 236px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 28px;
  }

  .section-margin {
    margin: 30px 0;
  }
  .header__wrap {
    height: 48vh;
  }

  .header-title h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 102%;
  }

  .btn {
    padding: 11px 22px;
  }

  .sleep__left {
    height: 400px;
  }

  .title-gold h3 {
    font-size: 22px;
  }

  .title-blue h3 {
    font-size: 22px;
  }

  .title-sub p {
    line-height: 130%;
    font-size: 12px;
  }

  .sleep__right-col1 {
    height: 400px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  .sleep__right-col2 {
    height: 400px;
    width: 100%;

    margin: auto;
  }

  .lb {
    display: none;
  }
  .sleep__logo {
    padding-right: 25px;
  }
  .fff {
    gap: 40px;
  }

  .japan__wrap {
    .japan__right,
    .japan__left {
      height: 160px;
    }

    .japan__left-content {
      text-align: center;
    }

    .japan__right-content {
      text-align: center;
    }

    .japan__right-circle {
      display: none;
    }

    .japan__left-circle {
      display: none;
    }
  }

  .japan__longev {
    font-size: 25px;
  }

  .property__bot-col {
    padding: 20px 40px;
  }

  .property__title h4 {
    font-size: 20px;
  }

  .bottle__bot-col {
    padding: 20px 40px;
  }

  .bottle__title h4 {
    font-size: 20px;
  }
}
